<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eleme.mapper.mart.mail.MailSendQueueMapper">
	<resultMap id="MailSendQueueEntityMap"
		type="com.eleme.domain.mart.mail.MailSendQueueEntity">
		<id column="MAIL_ID" property="mailId" jdbcType="INTEGER" />
		<result column="MAIL_TOPIC" property="mailTopic" jdbcType="VARCHAR" />
		<result column="MAIL_RECEIVER" property="mailReceiver"
			jdbcType="VARCHAR" />
		<result column="MAIL_CONTAIN_TYPE" property="mailContainType"
			jdbcType="INTEGER" />
		<result column="MAIL_CONTAIN_ID" property="mailContainId"
			jdbcType="INTEGER" />
		<result column="MAIL_SENDED_AT" property="mailSendedAt"
			jdbcType="VARCHAR" />
		<result column="MAIL_SEND_STATUS" property="mailSendStatus"
			jdbcType="INTEGER" />
		<result column="MAIL_CONTENT" property="mailContent" jdbcType="VARCHAR" />
		<result column="MAIL_ATTACHMENTS" property="mailAttachments"
			jdbcType="VARCHAR" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
		<result column="MAIL_SEND_DESC" property="mailSendDesc"
			jdbcType="VARCHAR"></result>
	</resultMap>

	<sql id="mailSendQueue_Column_List">
		MAIL_ID,
		MAIL_TOPIC,
		MAIL_RECEIVER,
		MAIL_CONTAIN_TYPE,
		MAIL_CONTAIN_ID,
		MAIL_SENDED_AT,
		MAIL_SEND_STATUS,
		MAIL_SEND_DESC,
		MAIL_CONTENT,
		MAIL_ATTACHMENTS,
		CREATED_AT,
		UPDATED_AT
	</sql>

	<select id="selectMailSendQueueById" resultMap="MailSendQueueEntityMap"
		parameterType="java.lang.Integer">
		SELECT
		<include refid="mailSendQueue_Column_List" />
		FROM T_SYS_MAIL_QUEUE
		WHERE MAIL_ID=#{mailId}
	</select>

	<insert id="insertMailSendQueue" parameterType="MailSendQueueEntity">
		insert into T_SYS_MAIL_QUEUE(
		MAIL_TOPIC,
		MAIL_RECEIVER,
		MAIL_CONTAIN_TYPE,
		MAIL_CONTAIN_ID,
		MAIL_SENDED_AT,
		MAIL_SEND_STATUS,
		MAIL_CONTENT,
		MAIL_ATTACHMENTS)
		values (
		#{mailTopic},
		#{mailReceiver},
		#{mailContainType},
		#{mailContainId},
		#{mailSendedAt},
		#{mailSendStatus},
		#{mailContent},
		#{mailAttachments})
		<selectKey resultType="java.lang.Integer" keyProperty="mailId"
			order="AFTER">
			SELECT LAST_INSERT_ID() AS MAIL_ID
		</selectKey>
	</insert>

	<update id="updateMailSendQueue" parameterType="MailSendQueueEntity">
		update T_SYS_MAIL_QUEUE
		<set>
			<if test="mailSendedAt != null">
				MAIL_SENDED_AT = #{mailSendedAt},
			</if>
			<if test="mailSendStatus != null">
				MAIL_SEND_STATUS = #{mailSendStatus},
			</if>
			<if test="mailSendDesc != null">
				MAIL_SEND_DESC = #{mailSendDesc},
			</if>
			<if test="mailReceiver != null">
				MAIL_RECEIVER = #{mailReceiver}
			</if>
		</set>
		where MAIL_ID = #{mailId}
	</update>

</mapper>
