<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eleme.mapper.mart.product.MFinanceProductMapper">
	<resultMap id="BaseResultMap" type="com.eleme.domain.mart.product.MFinanceProduct">
		<id column="FP_ID" property="fpId" jdbcType="INTEGER" />
		<result column="FP_NAME" property="fpName" jdbcType="VARCHAR" />
		<result column="FP_AREA" property="fpArea" jdbcType="VARCHAR" />
		<result column="IS_MORTGAGE" property="isMortgage" jdbcType="INTEGER" />
		<result column="MORTGAGE_CONTENT" property="mortgageContent" jdbcType="VARCHAR" />
		<result column="IS_WARRANT" property="isWarrant" jdbcType="INTEGER" />
		<result column="WARRANT_CONTENT" property="warrantContent" jdbcType="VARCHAR" />
		<result column="RECEIVING_DATE" property="receivingDate" jdbcType="INTEGER" />
		<result column="MIN_LOAN_AMOUNT" property="minLoanAmount" jdbcType="INTEGER" />
		<result column="MAX_LOAN_AMOUNT" property="maxLoanAmount" jdbcType="INTEGER" />
		<result column="PAY_LIMIT" property="payLimit" jdbcType="VARCHAR" />
		<result column="RAIT_UNIT" property="raitUnit" jdbcType="INTEGER" />
		<result column="MIN_RAIT_RATIO" property="minRaitRatio" jdbcType="DOUBLE" />
		<result column="MAX_RAIT_RATIO" property="maxRaitRatio" jdbcType="DOUBLE" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="PRODUCT_STATUS" property="productStatus" jdbcType="INTEGER" />
		<result column="FO_ID" property="foId" jdbcType="INTEGER" />
		<result column="START_DATE" property="startDate" jdbcType="DATE" />
		<result column="END_DATE" property="endDate" jdbcType="DATE" />
		<result column="PROFIT_TYPE" property="profitType" jdbcType="INTEGER" />
		<result column="OTHER_RAIT" property="otherRait" jdbcType="VARCHAR" />
		<result column="CREDENTIALS_REQUIRE" property="credentialsRequire" jdbcType="VARCHAR" />
		<result column="OTHER_DESC" property="otherDesc" jdbcType="VARCHAR" />
		<result column="CREATED_AT" property="createAt" jdbcType="TIMESTAMP" />
		<result column="IS_FINANCE" property="isFinance" jdbcType="INTEGER" />
		<result column="UF_ID" property="ufId" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap type="com.eleme.domain.mart.product.MFinanceProductVo" id="ProductResultMap" extends="BaseResultMap">
		<result column="FO_NAME" property="foName" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		t.FP_ID, t.FP_NAME, t.FP_AREA, t.IS_MORTGAGE, t.MORTGAGE_CONTENT,
		t.IS_WARRANT, t.WARRANT_CONTENT,
		t.RECEIVING_DATE, t.MIN_LOAN_AMOUNT, t.MAX_LOAN_AMOUNT, t.PAY_LIMIT, t.RAIT_UNIT,
		t.MIN_RAIT_RATIO,
		t.MAX_RAIT_RATIO, t.CREATE_TIME, t.PRODUCT_STATUS, t.FO_ID, t.START_DATE, t.END_DATE,
		t.PROFIT_TYPE,
		t.OTHER_RAIT, t.CREDENTIALS_REQUIRE, t.OTHER_DESC, t.CREATED_AT, t.IS_FINANCE, t.UF_ID
	</sql>
	
	<select id="selectById" resultMap="ProductResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from M_FINANCE_PRODUCT t
		where t.FP_ID = #{fpId}
	</select>

	<insert id="insert" parameterType="com.eleme.domain.mart.product.MFinanceProduct">
		insert into M_FINANCE_PRODUCT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fpName != null">
				FP_NAME,
			</if>
			<if test="fpArea != null">
				FP_AREA,
			</if>
			<if test="isMortgage != null">
				IS_MORTGAGE,
			</if>
			<if test="mortgageContent != null">
				MORTGAGE_CONTENT,
			</if>
			<if test="isWarrant != null">
				IS_WARRANT,
			</if>
			<if test="warrantContent != null">
				WARRANT_CONTENT,
			</if>
			<if test="receivingDate != null">
				RECEIVING_DATE,
			</if>
			<if test="minLoanAmount != null">
				MIN_LOAN_AMOUNT,
			</if>
			<if test="maxLoanAmount != null">
				MAX_LOAN_AMOUNT,
			</if>
			<if test="payLimit != null">
				PAY_LIMIT,
			</if>
			<if test="raitUnit != null">
				RAIT_UNIT,
			</if>
			<if test="minRaitRatio != null">
				MIN_RAIT_RATIO,
			</if>
			<if test="maxRaitRatio != null">
				MAX_RAIT_RATIO,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="productStatus != null">
				PRODUCT_STATUS,
			</if>
			<if test="foId != null">
				FO_ID,
			</if>
			<if test="startDate != null">
				START_DATE,
			</if>
			<if test="endDate != null">
				END_DATE,
			</if>
			<if test="profitType != null">
				PROFIT_TYPE,
			</if>
			<if test="otherRait != null">
				OTHER_RAIT,
			</if>
			<if test="credentialsRequire != null">
				CREDENTIALS_REQUIRE,
			</if>
			<if test="otherDesc != null">
				OTHER_DESC,
			</if>
			<if test="isFinance != null">
				IS_FINANCE,
			</if>
			<if test="ufId != null">
				UF_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="fpName != null">
				#{fpName},
			</if>
			<if test="fpArea != null">
				#{fpArea},
			</if>
			<if test="isMortgage != null">
				#{isMortgage},
			</if>
			<if test="mortgageContent != null">
				#{mortgageContent},
			</if>
			<if test="isWarrant != null">
				#{isWarrant},
			</if>
			<if test="warrantContent != null">
				#{warrantContent},
			</if>
			<if test="receivingDate != null">
				#{receivingDate},
			</if>
			<if test="minLoanAmount != null">
				#{minLoanAmount},
			</if>
			<if test="maxLoanAmount != null">
				#{maxLoanAmount},
			</if>
			<if test="payLimit != null">
				#{payLimit},
			</if>
			<if test="raitUnit != null">
				#{raitUnit},
			</if>
			<if test="minRaitRatio != null">
				#{minRaitRatio},
			</if>
			<if test="maxRaitRatio != null">
				#{maxRaitRatio},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="productStatus != null">
				#{productStatus},
			</if>
			<if test="foId != null">
				#{foId},
			</if>
			<if test="startDate != null">
				#{startDate},
			</if>
			<if test="endDate != null">
				#{endDate},
			</if>
			<if test="profitType != null">
				#{profitType},
			</if>
			<if test="otherRait != null">
				#{otherRait},
			</if>
			<if test="credentialsRequire != null">
				#{credentialsRequire},
			</if>
			<if test="otherDesc != null">
				#{otherDesc},
			</if>
			<if test="isFinance != null">
				#{isFinance},
			</if>
			<if test="ufId != null">
				#{ufId},
			</if>
		</trim>

		<selectKey resultType="java.lang.Integer" keyProperty="fpId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<update id="updateById" parameterType="com.eleme.domain.mart.product.MFinanceProduct">
		update M_FINANCE_PRODUCT
		<set>
			<if test="fpName != null">
				FP_NAME = #{fpName},
			</if>
			<if test="fpArea != null">
				FP_AREA = #{fpArea},
			</if>
			<if test="isMortgage != null">
				IS_MORTGAGE = #{isMortgage},
			</if>
			<if test="mortgageContent != null">
				MORTGAGE_CONTENT = #{mortgageContent},
			</if>
			<if test="isWarrant != null">
				IS_WARRANT = #{isWarrant},
			</if>
			<if test="warrantContent != null">
				WARRANT_CONTENT = #{warrantContent},
			</if>
			<if test="receivingDate != null">
				RECEIVING_DATE = #{receivingDate},
			</if>
			<if test="minLoanAmount != null">
				MIN_LOAN_AMOUNT = #{minLoanAmount},
			</if>
			<if test="maxLoanAmount != null">
				MAX_LOAN_AMOUNT = #{maxLoanAmount},
			</if>
			<if test="payLimit != null">
				PAY_LIMIT = #{payLimit},
			</if>
			<if test="raitUnit != null">
				RAIT_UNIT = #{raitUnit},
			</if>
			<if test="minRaitRatio != null">
				MIN_RAIT_RATIO = #{minRaitRatio},
			</if>
			<if test="maxRaitRatio != null">
				MAX_RAIT_RATIO = #{maxRaitRatio},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime},
			</if>
			<if test="productStatus != null">
				PRODUCT_STATUS = #{productStatus},
			</if>
			<if test="foId != null">
				FO_ID = #{foId},
			</if>
			<if test="startDate != null">
				START_DATE = #{startDate},
			</if>
			<if test="endDate != null">
				END_DATE = #{endDate},
			</if>
			<if test="profitType != null">
				PROFIT_TYPE = #{profitType},
			</if>
			<if test="otherRait != null">
				OTHER_RAIT = #{otherRait},
			</if>
			<if test="credentialsRequire != null">
				CREDENTIALS_REQUIRE = #{credentialsRequire},
			</if>
			<if test="otherDesc != null">
				OTHER_DESC = #{otherDesc},
			</if>
			<if test="isFinance != null">
				IS_FINANCE = #{isFinance},
			</if>
			<if test="ufId != null">
				UF_ID = #{ufId},
			</if>
		</set>
		where FP_ID = #{fpId}
	</update>

	<select id="selectProductList" resultMap="ProductResultMap" parameterType="com.eleme.domain.mart.product.ProductQueryCnd">
		select
		<include refid="Base_Column_List" />,
		mfo.FO_NAME
		from M_FINANCE_PRODUCT t INNER JOIN M_FINANCE_ORG mfo ON t.FO_ID = mfo.FO_ID
		<where>
			<if test="ptName != null and ptName != ''">
				<![CDATA[ AND t.FP_NAME LIKE '%${ptName}%' ]]>
			</if>
			<if test="foId != null and foId != ''">
				<![CDATA[ AND t.FO_ID = #{foId} ]]>
			</if>
			<if test="productStatus != null">
				<![CDATA[ AND t.PRODUCT_STATUS = #{productStatus} ]]>
			</if>
			<if test="productStatus == null">
				AND PRODUCT_STATUS in (0,1,2)
			</if>
		</where>
		ORDER BY t.CREATED_AT DESC
		<if test="startRecord != null and pageSize != null">
			limit ${startRecord},${pageSize}
		</if>
	</select>
	
	<select id="selectProductListCount" resultType="java.lang.Integer" parameterType="com.eleme.domain.mart.product.ProductQueryCnd">
		select
			count(t.FP_ID)
		from M_FINANCE_PRODUCT t INNER JOIN M_FINANCE_ORG mfo ON t.FO_ID = mfo.FO_ID
		<where>
			<if test="ptName != null and ptName != ''">
				<![CDATA[ AND t.FP_NAME LIKE '%${ptName}%' ]]>
			</if>
			<if test="foId != null and foId != ''">
				<![CDATA[ AND t.FO_ID = #{foId} ]]>
			</if>
			<if test="productStatus != null">
				<![CDATA[ AND t.PRODUCT_STATUS = #{productStatus} ]]>
			</if>
			<if test="productStatus == null">
				AND PRODUCT_STATUS in (0,1,2)
			</if>
			
		</where>
	</select>
	
	<select id="selectIsNotSelfCount" resultType="java.lang.Integer" parameterType="com.eleme.domain.mart.product.ProductQueryCnd">
		select
			count(t.FP_ID)
		from M_FINANCE_PRODUCT t 
		<where>
			<if test="ptName != null and ptName != ''">
				<![CDATA[ AND t.FP_NAME = #{ptName} ]]>
			</if>
			<if test="fpId != null and fpId != ''">
				<![CDATA[ AND t.FP_ID != #{fpId} ]]>
			</if>
			AND t.PRODUCT_STATUS in (0,1,2)
		</where>
	</select>


</mapper>