<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eleme.mapper.mart.product.TApvFinanceProductHistoryMapper">
	<resultMap id="BaseResultMap" type="com.eleme.domain.mart.product.TApvFinanceProductHistory">
		<id column="AH_ID" property="ahId" jdbcType="INTEGER" />
		<result column="FP_ID" property="fpId" jdbcType="INTEGER" />
		<result column="APP_STATUS" property="appStatus" jdbcType="VARCHAR" />
		<result column="OPINIONS" property="opinions" jdbcType="VARCHAR" />
		<result column="APP_DATE" property="appDate" jdbcType="TIMESTAMP" />
		<result column="REALLY_APP_USER_ID" property="reallyAppUserId" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		t.AH_ID, t. FP_ID, t. APP_STATUS, t. OPINIONS, t. APP_DATE, t.REALLY_APP_USER_ID
	</sql>
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from T_APV_FINANCE_PRODUCT_HISTORY t
		where t.AH_ID = #{ahId}
	</select>

	<insert id="insert" parameterType="com.eleme.domain.mart.product.TApvFinanceProductHistory">
		insert into T_APV_FINANCE_PRODUCT_HISTORY(
			FP_ID,
			APP_STATUS,
			OPINIONS,
			APP_DATE,
			REALLY_APP_USER_ID)
		values(
			#{fpId},
			#{appStatus},
			#{opinions},
			#{appDate},
			#{reallyAppUserId}
		)
	</insert>
</mapper>