<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eleme.mapper.mart.product.TFcoRequestRuleMapper">
	<resultMap id="BaseResultMap" type="com.eleme.domain.mart.product.TFcoRequestRule">
		<id column="RULE_ID" property="ruleId" jdbcType="INTEGER" />
		<result column="RULE_NAME" property="ruleName" jdbcType="INTEGER" />
		<result column="IS_USE" property="isUse" jdbcType="INTEGER" />
		<result column="FP_ID" property="fpId" jdbcType="INTEGER" />
		<result column="FROM_SYMBOL" property="fromSymbol" jdbcType="VARCHAR" />
		<result column="FROM_NUM" property="fromNum" jdbcType="INTEGER" />
		<result column="END_SYMBOL" property="endSymbol" jdbcType="VARCHAR" />
		<result column="END_NUM" property="endNum" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap type="com.eleme.domain.mart.product.TFcoRequestRuleVo" extends="BaseResultMap" id="ResultMap">
		<result column="TYPE_CD_NAME" property="typeCdName" />
	</resultMap>
	
	
	<sql id="Base_Column_List">
		t.RULE_ID, t.RULE_NAME, t.IS_USE, t.FP_ID, t.FROM_SYMBOL,
		t.FROM_NUM,
		t.END_SYMBOL, t.END_NUM
	</sql>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from T_FCO_REQUEST_RULE t
		where t.RULE_ID = #{ruleId}
	</select>

	<insert id="insert" parameterType="com.eleme.domain.mart.product.TFcoRequestRule">
		insert into T_FCO_REQUEST_RULE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ruleName != null">
				RULE_NAME,
			</if>
			<if test="isUse != null">
				IS_USE,
			</if>
			<if test="fpId != null">
				FP_ID,
			</if>
			<if test="fromSymbol != null">
				FROM_SYMBOL,
			</if>
			<if test="fromNum != null">
				FROM_NUM,
			</if>
			<if test="endSymbol != null">
				END_SYMBOL,
			</if>
			<if test="endNum != null">
				END_NUM,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ruleName != null">
				#{ruleName},
			</if>
			<if test="isUse != null">
				#{isUse},
			</if>
			<if test="fpId != null">
				#{fpId},
			</if>
			<if test="fromSymbol != null">
				#{fromSymbol},
			</if>
			<if test="fromNum != null">
				#{fromNum},
			</if>
			<if test="endSymbol != null">
				#{endSymbol},
			</if>
			<if test="endNum != null">
				#{endNum},
			</if>
		</trim>
		
		<selectKey resultType="java.lang.Integer" keyProperty="ruleId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<update id="updateById" parameterType="com.eleme.domain.mart.product.TFcoRequestRule">
		update T_FCO_REQUEST_RULE
		<set>
			<if test="ruleName != null">
				RULE_NAME = #{ruleName},
			</if>
			<if test="isUse != null">
				IS_USE = #{isUse},
			</if>
			<if test="fpId != null">
				FP_ID = #{fpId},
			</if>
			<if test="fromSymbol != null">
				FROM_SYMBOL = #{fromSymbol},
			</if>
			<if test="fromNum != null">
				FROM_NUM = #{fromNum},
			</if>
			<if test="endSymbol != null">
				END_SYMBOL = #{endSymbol},
			</if>
			<if test="endNum != null">
				END_NUM = #{endNum},
			</if>
		</set>
		where RULE_ID = #{ruleId}
	</update>
	
	<!-- 根据产品ID分页查询规则集合，查询条件:产品ID;排序:默认 -->
	<select id="selectRuleListByFpId" resultMap="ResultMap" parameterType="com.eleme.domain.mart.product.ProductRuleQueryCnd">
		select
		<include refid="Base_Column_List" />,m.TYPE_CD_NAME
		from T_FCO_REQUEST_RULE t left join M_BASIC_DATA m on t.RULE_NAME = m.TYPE_CD
		where t.FP_ID = #{fpId}
		  and m.TYPE_ID = 1
		  <if test="isMobileUse == null or isMobileUse == ''">
				and t.IS_USE in (1,2)
		  </if>
		  <if test="isMobileUse == '-1'">
			and t.IS_USE = 1
		  </if>
		<if test="startRecord != null and pageSize != null">
			limit ${startRecord},${pageSize}
		</if>
	</select>
	
	<!-- 根据条件查询融资产品规则的件数 -->
	<select id="selectRuleListCountByFpId" resultType="java.lang.Integer" parameterType="com.eleme.domain.mart.product.ProductRuleQueryCnd">
		select count(*)
		from T_FCO_REQUEST_RULE t left join M_BASIC_DATA m on t.RULE_NAME = m.TYPE_CD
		where t.FP_ID = #{fpId}
		  and m.TYPE_ID = 1
		  and t.IS_USE in (1,2)
	</select>
	
	<!-- 根据条件查询融资产品规则的件数 -->
	<select id="selectRuleCountByCnd" resultType="java.lang.Integer" parameterType="com.eleme.domain.mart.product.ProductRuleQueryCnd">
		select count(*)
		from T_FCO_REQUEST_RULE t 
		where t.FP_ID = #{fpId}
		  and t.RULE_NAME = #{ruleName}
		  and t.IS_USE = 1
		  <if test="ruleId != null">
			and t.RULE_ID != #{ruleId}
		</if>
	</select>

</mapper>