<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eleme.mapper.ops.file.TSysExcelTemplateMapper">

    <resultMap id="BaseResultMap" type="com.eleme.domain.ops.file.TSysExcelTemplate">
        <id column="EXCEL_TEMPLATE_ID" property="excelTemplateId" jdbcType="INTEGER"/>
        <result column="EXCEL_TEMPLATE_NAME" property="excelTemplateName" jdbcType="VARCHAR"/>
        <result column="EXCEL_TEMPLATE_DESC" property="excelTemplateDesc" jdbcType="VARCHAR"/>
        <result column="EXCEL_TEMPLATE_TYPE" property="excelTemplateType" jdbcType="VARCHAR"/>
        <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="AppExcelTemplateResultMap" type="com.eleme.domain.ops.file.AppExcelTemplateVo"
               extends="BaseResultMap">
        <collection property="excelTemplateRelations"
                    ofType="com.eleme.domain.ops.file.TSysExcelTemplateRelation">
            <id column="ID" property="id" jdbcType="INTEGER"/>
            <result column="EXCEL_TPL_ID" property="excelTplId" jdbcType="INTEGER"/>
            <result column="COLUMN_ID" property="columnId" jdbcType="INTEGER"/>
            <result column="COLUMN_NAME" property="columnName" jdbcType="VARCHAR"/>
            <result column="COLUMN_TEXT" property="columnText" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="BaseColumns">
        T.EXCEL_TEMPLATE_ID,T.EXCEL_TEMPLATE_NAME,T.EXCEL_TEMPLATE_DESC,T.EXCEL_TEMPLATE_TYPE,
        T.CREATED_AT,T.UPDATED_AT
    </sql>

    <select id="selectAppExcelTemplates" resultMap="AppExcelTemplateResultMap">
        SELECT
        TR.COLUMN_NAME,TR.COLUMN_TEXT,TR.COLUMN_ID,TR.EXCEL_TPL_ID,
        <include refid="BaseColumns"/>
        FROM T_SYS_EXCEL_TEMPLATE T
        LEFT OUTER JOIN T_SYS_EXCEL_TEMPLATE_RELATION TR
        ON T.EXCEL_TEMPLATE_ID=TR.EXCEL_TPL_ID
        WHERE T.EXCEL_TEMPLATE_TYPE=#{excelTemplateType}
    </select>

    <insert id="insertExcelTemplate" parameterType="TSysExcelTemplate">
        <selectKey resultType="INTEGER" keyProperty="excelTemplateId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT T_SYS_EXCEL_TEMPLATE
        (
        EXCEL_TEMPLATE_NAME,
        EXCEL_TEMPLATE_DESC,
        EXCEL_TEMPLATE_TYPE
        )
        VALUES
        (
        #{excelTemplateName},
        #{excelTemplateDesc},
        #{excelTemplateType}
        )
    </insert>

    <update id="updateExcelTemplate" parameterType="TSysExcelTemplate">
        UPDATE
        T_SYS_EXCEL_TEMPLATE
        <set>
            <if test="excelTemplateName != null">
                EXCEL_TEMPLATE_NAME = #{excelTemplateName},
            </if>
            <if test="excelTemplateType != null">
                EXCEL_TEMPLATE_TYPE = #{excelTemplateType},
            </if>
            <if test="excelTemplateDesc != null">
                EXCEL_TEMPLATE_DESC = #{excelTemplateDesc}
            </if>
        </set>
        WHERE EXCEL_TEMPLATE_ID=#{excelTemplateId}
    </update>

    <delete id="deleteExcelTemplateById" parameterType="java.lang.Integer">
        DELETE FROM T_SYS_EXCEL_TEMPLATE
        WHERE EXCEL_TEMPLATE_ID=#{excelTemplateId}
    </delete>

    <delete id="deleteExcelTemplateRelationsByTempId" parameterType="java.lang.Integer">
      DELETE FROM T_SYS_EXCEL_TEMPLATE_RELATION
      WHERE EXCEL_TPL_ID=#{excelTemplateId}
    </delete>

    <insert id="insertExcelTemplateRelations" parameterType="java.util.List">
        INSERT T_SYS_EXCEL_TEMPLATE_RELATION
        (
        EXCEL_TPL_ID,
        COLUMN_NAME,
        COLUMN_TEXT,
        COLUMN_ID
        )
        VALUES
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
            #{item.excelTplId},
            #{item.columnName},
            #{item.columnText},
            #{item.columnId}
            )
        </foreach>
    </insert>

</mapper>
