<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eleme.mapper.mart.sys.JournalsMapper">
	<resultMap id="JournalsResultMap" type="com.eleme.domain.mart.sys.Journals">
		<id column="JOURNAL_ID" property="journalId" jdbcType="INTEGER" />
		<result column="JOURNALIZED_ID" property="journalizedId" jdbcType="VARCHAR" />
		<result column="JOURNALIZED_TYPE" property="journalizedType" jdbcType="VARCHAR" />
		<result column="USER_ID" property="userId" jdbcType="INTEGER" />
		<result column="NOTES" property="notes" jdbcType="VARCHAR" />
		<result column="IS_OPS" property="isOps" jdbcType="INTEGER" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="JournalsDetailResultMap" type="com.eleme.domain.mart.sys.JournalsDetail">
		<id column="JOURNAL_DETAIL_ID" property="journalDetailId" jdbcType="INTEGER" />
		<result column="JOURNAL_ID" property="journalId" jdbcType="INTEGER" />
		<result column="PROPERTY" property="property" jdbcType="VARCHAR" />
		<result column="PROP_KEY" property="propKey" jdbcType="VARCHAR" />
		<result column="OLD_VALUE" property="oldValue" jdbcType="LONGVARCHAR" />
		<result column="VALUE" property="value" jdbcType="LONGVARCHAR" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insert" parameterType="com.eleme.domain.mart.sys.Journals" useGeneratedKeys="true" keyColumn="JOURNAL_ID" keyProperty="journalId">
		insert into T_SYS_JOURNALS (
		JOURNALIZED_ID, JOURNALIZED_TYPE,
		USER_ID, NOTES, IS_OPS)
		values (
		#{journalizedId,jdbcType=VARCHAR}, #{journalizedType,jdbcType=VARCHAR},
		#{userId,jdbcType=INTEGER}, #{notes,jdbcType=VARCHAR}, #{isOps,jdbcType=INTEGER})
	</insert>

	<insert id="insertDetails" parameterType="com.eleme.domain.mart.sys.Journals">
		insert into T_SYS_JOURNALS_DETAIL (
		JOURNAL_ID,
		PROPERTY, PROP_KEY,
		OLD_VALUE, VALUE)
		values
		<foreach collection="journalsDetails" item="journalsDetail" separator=",">
		(#{journalId}, #{journalsDetail.property}, #{journalsDetail.propKey}, #{journalsDetail.oldValue}, #{journalsDetail.value})
		</foreach>
	</insert>
</mapper>