<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eleme.mapper.mart.loan.TAppSellerLoanMapper">
	<resultMap id="BaseResultMap" type="com.eleme.domain.mart.loan.TAppSellerLoan">
		<id column="SL_ID" property="slId" jdbcType="INTEGER" />
		<result column="FP_ID" property="fpId" jdbcType="INTEGER" />
		<result column="LOAN_AMOUNT" property="loanAmount" jdbcType="INTEGER" />
		<result column="PROPOSER_NAME" property="proposerName" jdbcType="VARCHAR" />
		<result column="PROPOSER_SEX" property="proposerSex" jdbcType="INTEGER" />
		<result column="PROPOSER_PHONE" property="proposerPhone" jdbcType="VARCHAR" />
		<result column="PROPOSER_EMAIL" property="proposerEmail" jdbcType="VARCHAR" />
		<result column="PROPOSER_CITY_NAME" property="proposerCityName" jdbcType="VARCHAR" />
		<result column="SELLER_ID" property="sellerId" jdbcType="INTEGER" />
		<result column="SELLER_NAME" property="sellerName" jdbcType="VARCHAR" />
		<result column="SUBMIT_TIME" property="submitTime" jdbcType="TIMESTAMP" />
		<result column="DOC_STATUS" property="docStatus" jdbcType="INTEGER" />
		<result column="APP_STATUS" property="appStatus" jdbcType="VARCHAR" />
		<result column="PROCS_ID" property="procsId" jdbcType="INTEGER" />
		<result column="STOP_BY_SELLER" property="stopBySeller" jdbcType="INTEGER" />
		<result column="PROPOSER_AGE" property="proposerAge" jdbcType="INTEGER" />
		<result column="PROPOSER_SID" property="proposerSid" jdbcType="VARCHAR" />
		<result column="DOC_NO" property="docNo" jdbcType="VARCHAR" />
		<result column="PL_ID" property="plId" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="ResultMap" type="com.eleme.domain.mart.loan.TAppSellerLoanVo" extends="BaseResultMap">
		<result column="NODE_NAME" property="nodeName" />
		<result column="FP_NAME" property="fpName" />
		<result column="ADDRESS_TEXT" property="addressText" />
		<result column="createdDate" property="createdDate" />
		<result column="PER_DAY_TOTAL" property="perDayTotal" />
		<result column="naposResId" property="naposResId" />
		<result column="NAPOS_RES_OID" property="naposResOid" /> 
		<result column="CITY_NAME" property="cityName" /> 
		
	</resultMap>
	
	<sql id="Base_Column_List">
		t.SL_ID, t.FP_ID, t.LOAN_AMOUNT, t.PROPOSER_NAME, t.PROPOSER_SEX, t.PROPOSER_PHONE,
		t.PROPOSER_EMAIL,
		t.PROPOSER_CITY_NAME, t.SELLER_ID, t.SELLER_NAME, t.SUBMIT_TIME, t.DOC_STATUS, t.APP_STATUS,
		t.PROCS_ID, t.STOP_BY_SELLER, t.PROPOSER_AGE, t.PROPOSER_SID, t.DOC_NO, t.PL_ID
	</sql>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from T_APP_SELLER_LOAN t
		where t.SL_ID = #{slId}
	</select>
	
	<insert id="insert" parameterType="com.eleme.domain.mart.loan.TAppSellerLoan">
		insert into T_APP_SELLER_LOAN
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fpId != null">
				FP_ID,
			</if>
			<if test="loanAmount != null">
				LOAN_AMOUNT,
			</if>
			<if test="proposerName != null">
				PROPOSER_NAME,
			</if>
			<if test="proposerSex != null">
				PROPOSER_SEX,
			</if>
			<if test="proposerPhone != null">
				PROPOSER_PHONE,
			</if>
			<if test="proposerEmail != null">
				PROPOSER_EMAIL,
			</if>
			<if test="proposerCityName != null">
				PROPOSER_CITY_NAME,
			</if>
			<if test="sellerId != null">
				SELLER_ID,
			</if>
			<if test="sellerName != null">
				SELLER_NAME,
			</if>
			<if test="submitTime != null">
				SUBMIT_TIME,
			</if>
			<if test="docStatus != null">
				DOC_STATUS,
			</if>
			<if test="appStatus != null">
				APP_STATUS,
			</if>
			<if test="procsId != null">
				PROCS_ID,
			</if>
			<if test="stopBySeller != null">
				STOP_BY_SELLER,
			</if>
			<if test="proposerAge != null">
				PROPOSER_AGE,
			</if>
			<if test="proposerSid != null">
				PROPOSER_SID,
			</if>
			<if test="docNo != null">
				DOC_NO,
			</if>
			<if test="plId != null">
				PL_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="fpId != null">
				#{fpId},
			</if>
			<if test="loanAmount != null">
				#{loanAmount},
			</if>
			<if test="proposerName != null">
				#{proposerName},
			</if>
			<if test="proposerSex != null">
				#{proposerSex},
			</if>
			<if test="proposerPhone != null">
				#{proposerPhone},
			</if>
			<if test="proposerEmail != null">
				#{proposerEmail},
			</if>
			<if test="proposerCityName != null">
				#{proposerCityName},
			</if>
			<if test="sellerId != null">
				#{sellerId},
			</if>
			<if test="sellerName != null">
				#{sellerName},
			</if>
			<if test="submitTime != null">
				#{submitTime},
			</if>
			<if test="docStatus != null">
				#{docStatus},
			</if>
			<if test="appStatus != null">
				#{appStatus},
			</if>
			<if test="procsId != null">
				#{procsId},
			</if>
			<if test="stopBySeller != null">
				#{stopBySeller},
			</if>
			<if test="proposerAge != null">
				#{proposerAge},
			</if>
			<if test="proposerSid != null">
				#{proposerSid},
			</if>
			<if test="docNo != null">
				#{docNo},
			</if>
			<if test="plId != null">
				#{plId},
			</if>
		</trim>
		
		<selectKey resultType="java.lang.Integer" keyProperty="slId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="updateById" parameterType="com.eleme.domain.mart.loan.TAppSellerLoan">
		update T_APP_SELLER_LOAN
		<set>
			<if test="fpId != null">
				FP_ID = #{fpId},
			</if>
			<if test="loanAmount != null">
				LOAN_AMOUNT = #{loanAmount},
			</if>
			<if test="proposerName != null">
				PROPOSER_NAME = #{proposerName},
			</if>
			<if test="proposerSex != null">
				PROPOSER_SEX = #{proposerSex},
			</if>
			<if test="proposerPhone != null">
				PROPOSER_PHONE = #{proposerPhone},
			</if>
			<if test="proposerEmail != null">
				PROPOSER_EMAIL = #{proposerEmail},
			</if>
			<if test="proposerCityName != null">
				PROPOSER_CITY_NAME = #{proposerCityName},
			</if>
			<if test="sellerId != null">
				SELLER_ID = #{sellerId},
			</if>
			<if test="sellerName != null">
				SELLER_NAME = #{sellerName},
			</if>
			<if test="submitTime != null">
				SUBMIT_TIME = #{submitTime},
			</if>
			<if test="docStatus != null">
				DOC_STATUS = #{docStatus},
			</if>
			<if test="appStatus != null">
				APP_STATUS = #{appStatus},
			</if>
			<if test="procsId != null">
				PROCS_ID = #{procsId},
			</if>
			<if test="stopBySeller != null">
				STOP_BY_SELLER = #{stopBySeller},
			</if>
			<if test="proposerAge != null">
				PROPOSER_AGE = #{proposerAge},
			</if>
			<if test="proposerSid != null">
				PROPOSER_SID = #{proposerSid},
			</if>
			<if test="docNo != null">
				DOC_NO = #{docNo},
			</if>
			<if test="plId != null">
				PL_ID = #{plId},
			</if>
		</set>
		where SL_ID = #{slId}
	</update>
	
	<!-- 根据条件查询商户借贷申请信息 -->
	<select id="selectSellerLoanList" resultMap="ResultMap" parameterType="com.eleme.domain.mart.loan.LoanQueryCnd">
		SELECT 
		<include refid="Base_Column_List" />
		,taf.NODE_NAME,fp.FP_NAME,mst.CITY_NAME
		 FROM T_APP_SELLER_LOAN t 
		INNER JOIN T_APV_HISTORY tah ON t.SL_ID = tah.SL_ID AND tah.APP_STATUS = t.APP_STATUS
		INNER JOIN T_APV_FLOW_NODE taf ON tah.NODE_ID = taf.NODE_ID
		INNER JOIN M_FINANCE_PRODUCT fp ON fp.FP_ID = t.FP_ID
		INNER JOIN M_SELLER ms ON t.SELLER_ID = ms.SELLER_ID
		LEFT JOIN M_CITY_TREE mst ON ms.CITY_ID = mst.CITY_ID
		WHERE t.DOC_STATUS = 0
		
		<include refid="SellerLoanWhere"/>
		
		GROUP BY t.SL_ID
		ORDER BY t.SUBMIT_TIME DESC
		<if test="startRecord != null and pageSize != null">
			limit ${startRecord},${pageSize}
		</if>
	</select>
	
	<sql id="SellerLoanWhere">
		<if test="submitTimeFrom != null">
			<![CDATA[ AND t.SUBMIT_TIME >= #{submitTimeFrom} ]]>
		</if>
		<if test="submitTimeEnd != null">
			<![CDATA[ AND t.SUBMIT_TIME <= #{submitTimeEnd} ]]>
		</if>
		<if test="proposerName != null and proposerName != ''">
			AND (t.PROPOSER_NAME like CONCAT('%', #{proposerName}, '%') 
				 OR t.DOC_NO like CONCAT('%', #{proposerName}, '%')
				 OR t.SELLER_NAME like CONCAT('%', #{proposerName}, '%')
				)
		</if>
		<if test="fpId != null">
			<![CDATA[ AND t.FP_ID = #{fpId} ]]>
		</if>
		<if test="appStatus != null and appStatus != ''">
			<![CDATA[ AND t.APP_STATUS = #{appStatus} ]]>
		</if>
		<if test="cityId != null">
            AND mst.CITY_ID = #{cityId}
        </if>
        <if test="provinceId != null">
            AND mst.PARENT_ID = #{provinceId}
        </if>
        
		<choose> 
		<when test="orderSource != null and orderSource != '' and orderSource == 0 "> AND t.PL_ID = 0 </when> 
		<when test="orderSource != null and orderSource != '' and orderSource == 1 "> AND t.PL_ID != 0 </when>
		<otherwise></otherwise>
		</choose> 
        
	</sql>
	
	<!-- 根据条件查询商户借贷申请信息件数 -->
	<select id="selectSellerLoanListCount" resultType="java.lang.Integer" parameterType="com.eleme.domain.mart.loan.LoanQueryCnd">
		select count(*)
		from(
			SELECT 
				t.SL_ID
			 FROM T_APP_SELLER_LOAN t 
			INNER JOIN T_APV_HISTORY tah ON t.SL_ID = tah.SL_ID AND tah.APP_STATUS = t.APP_STATUS
			INNER JOIN T_APV_FLOW_NODE taf ON tah.NODE_ID = taf.NODE_ID
			INNER JOIN M_SELLER ms ON t.SELLER_ID = ms.SELLER_ID
			LEFT JOIN M_CITY_TREE mst ON ms.CITY_ID = mst.CITY_ID
			WHERE t.DOC_STATUS = 0
			<include refid="SellerLoanWhere"/>
			GROUP BY t.SL_ID
		) tt
	</select>
	
	<!-- 根据条件查询商户借贷申请信息 -->
	<select id="selectSellerLoanById" resultMap="ResultMap" parameterType="com.eleme.domain.mart.loan.LoanQueryCnd">
		SELECT 
		<include refid="Base_Column_List" />
		,taf.NODE_NAME,fp.FP_NAME,ns.ADDRESS_TEXT as ADDRESS_TEXT, 
		DATE_FORMAT( ns.CREATED_AT, '%Y-%m-%d' ) as createdDate,stfs.PER_DAY_TOTAL,
		ns.ID as naposResId,ns.OID AS NAPOS_RES_OID
		 FROM T_APP_SELLER_LOAN t 
		INNER JOIN T_APV_HISTORY tah ON t.SL_ID = tah.SL_ID AND tah.APP_STATUS = t.APP_STATUS
		INNER JOIN T_APV_FLOW_NODE taf ON tah.NODE_ID = taf.NODE_ID
		INNER JOIN M_FINANCE_PRODUCT fp ON fp.FP_ID = t.FP_ID
		LEFT JOIN M_NAPOS_SELLERS ns ON t.SELLER_ID = ns.SELLER_ID
		LEFT JOIN T_SDC_TRADE_FLOW_STATISTICS stfs ON t.SELLER_ID = stfs.SELLER_ID and stfs.TYPE = 1
		WHERE t.DOC_STATUS = 0
		  AND t.SL_ID = #{slId}
		GROUP by t.SL_ID
	</select>
	
</mapper>