<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eleme.mapper.mart.loan.TApvFlowNodeMapper" >
  <resultMap id="BaseResultMap" type="com.eleme.domain.mart.loan.TApvFlowNode" >
    <id column="NODE_ID" property="nodeID" jdbcType="INTEGER" />
    <result column="PROCS_ID" property="procsID" jdbcType="INTEGER" />
    <result column="NODE_NAME" property="nodeName" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentID" jdbcType="INTEGER" />
    <result column="NODE_TYPE" property="nodeType" jdbcType="VARCHAR" />
    <result column="APP_USER_IDS" property="appUserIDs" jdbcType="VARCHAR" />
    <result column="APP_USER_NAMES" property="appUserNames" jdbcType="VARCHAR" />
    <result column="TEAM_ID" property="teamID" jdbcType="INTEGER" />
    <result column="IS_OPS" property="isOps" jdbcType="INTEGER" />
    <result column="CREATED_AT" property="createAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    NODE_ID, PROCS_ID, NODE_NAME, PARENT_ID, NODE_TYPE, APP_USER_IDS, APP_USER_NAMES, 
    TEAM_ID, IS_OPS, CREATED_AT, UPDATED_AT
  </sql>
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_APV_FLOW_NODE
    where NODE_ID = #{nodeID}
  </select>
  
  <insert id="insert" parameterType="com.eleme.domain.mart.loan.TApvFlowNode" >
    insert into T_APV_FLOW_NODE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="procsID != null" >
        PROCS_ID,
      </if>
      <if test="nodeName != null" >
        NODE_NAME,
      </if>
      <if test="parentID != null" >
        PARENT_ID,
      </if>
      <if test="nodeType != null" >
        NODE_TYPE,
      </if>
      <if test="appUserIDs != null" >
        APP_USER_IDS,
      </if>
      <if test="appUserNames != null" >
        APP_USER_NAMES,
      </if>
      <if test="teamID != null" >
        TEAM_ID,
      </if>
      <if test="isOps != null" >
        IS_OPS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="procsID != null" >
        #{procsID},
      </if>
      <if test="nodeName != null" >
        #{nodeName},
      </if>
      <if test="parentID != null" >
        #{parentID},
      </if>
      <if test="nodeType != null" >
        #{nodeType},
      </if>
      <if test="appUserIDs != null" >
        #{appUserIDs},
      </if>
      <if test="appUserNames != null" >
        #{appUserNames},
      </if>
      <if test="teamID != null" >
        #{teamID},
      </if>
      <if test="isOps != null" >
        #{isOps},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="nodeID" order="AFTER">
		SELECT LAST_INSERT_ID()
	</selectKey>
  </insert>
  
  <update id="updateById" parameterType="com.eleme.domain.mart.loan.TApvFlowNode" >
    update T_APV_FLOW_NODE
    <set >
      <if test="procsID != null" >
        PROCS_ID = #{procsID},
      </if>
      <if test="nodeName != null" >
        NODE_NAME = #{nodeName},
      </if>
      <if test="parentID != null" >
        PARENT_ID = #{parentID},
      </if>
      <if test="nodeType != null" >
        NODE_TYPE = #{nodeType},
      </if>
      <if test="appUserIDs != null" >
        APP_USER_IDS = #{appUserIDs},
      </if>
      <if test="appUserNames != null" >
        APP_USER_NAMES = #{appUserNames},
      </if>
      <if test="teamID != null" >
        TEAM_ID = #{teamID},
      </if>
      <if test="isOps != null" >
        IS_OPS = #{isOps},
      </if>
    </set>
    where NODE_ID = #{nodeID}
  </update>
  
  <select id="selectApvNodesByProsID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
 	select 
 	<include refid="Base_Column_List"></include>
 	from T_APV_FLOW_NODE
 	where PROCS_ID = #{procsID}
  </select>
</mapper>