<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eleme.mapper.mart.loan.TApvFlowProcessMapper" >
  <resultMap id="BaseResultMap" type="com.eleme.domain.mart.loan.TApvFlowProcess" >
    <id column="PROCS_ID" property="procsID" jdbcType="INTEGER" />
    <result column="PROCS_NAME" property="procsName" jdbcType="VARCHAR" />
    <result column="IS_VALID" property="isValid" jdbcType="INTEGER" />
    <result column="PROCS_DESC" property="procsDesc" jdbcType="VARCHAR" />
    <result column="FO_ID" property="foID" jdbcType="INTEGER" />
    <result column="FP_ID" property="fpID" jdbcType="INTEGER" />
    <result column="CREATED_AT" property="createAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    PROCS_ID, PROCS_NAME, IS_VALID, PROCS_DESC, FO_ID, FP_ID, CREATED_AT, UPDATED_AT
  </sql>
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_APV_FLOW_PROCESS
    where PROCS_ID = #{procsID}
  </select>
  
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_APV_FLOW_PROCESS
    where PROCS_NAME = #{procsName}
  </select>
  
  <insert id="insert" parameterType="com.eleme.domain.mart.loan.TApvFlowProcess" >
    insert into T_APV_FLOW_PROCESS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="procsName != null" >
        PROCS_NAME,
      </if>
      <if test="isValid != null" >
        IS_VALID,
      </if>
      <if test="procsDesc != null" >
        PROCS_DESC,
      </if>
      <if test="foID != null" >
        FO_ID,
      </if>
      <if test="fpID != null" >
        FP_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="procsName != null" >
        #{procsName},
      </if>
      <if test="isValid != null" >
        #{isValid},
      </if>
      <if test="procsDesc != null" >
        #{procsDesc},
      </if>
      <if test="foID != null" >
        #{foID},
      </if>
      <if test="fpID != null" >
        #{fpID},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="procsID" order="AFTER">
		SELECT LAST_INSERT_ID()
	</selectKey>
  </insert>
  
  <update id="updateById" parameterType="com.eleme.domain.mart.loan.TApvFlowProcess" >
    update T_APV_FLOW_PROCESS
    <set >
      <if test="procsName != null" >
        PROCS_NAME = #{procsName},
      </if>
      <if test="isValid != null" >
        IS_VALID = #{isValid},
      </if>
      <if test="procsDesc != null" >
        PROCS_DESC = #{procsDesc},
      </if>
      <if test="foID != null" >
        FO_ID = #{foID},
      </if>
      <if test="fpID != null" >
        FP_ID = #{fpID},
      </if>
    </set>
    where PROCS_ID = #{procsID}
  </update>
  
  <select id="selectApvFlowProcsList" resultMap="BaseResultMap" parameterType="com.eleme.domain.mart.loan.TApvFlowProcess">
  	 select 
    <include refid="Base_Column_List" />
    from T_APV_FLOW_PROCESS
    <if test="procsName != null" >
        where PROCS_NAME = #{procsName}
    </if>
    <if test="startPage != null and pageSize != null" >
        limit #{startPage},#{pageSize}
    </if>
  </select>
  
  <select id="selectApvFlowprocsTotal" resultType="java.lang.Integer"  parameterType="com.eleme.domain.mart.loan.TApvFlowProcess">
 	select 
   	count(*)
    from T_APV_FLOW_PROCESS
    <if test="procsName != null" >
        where PROCS_NAME = #{procsName}
    </if>
  </select>
  
  <!-- 查询最新流程信息 -->
  <select id="selectLastestCommonProcess" resultMap="BaseResultMap" >
  	SELECT <include refid="Base_Column_List" />
  	  FROM T_APV_FLOW_PROCESS
  	 WHERE IS_VALID = 1 
  	 ORDER BY PROCS_ID DESC 
  	 LIMIT 1
  </select>
  
</mapper>