<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eleme.mapper.mart.loan.TApvHistoryMapper">
	<resultMap id="BaseResultMap" type="com.eleme.domain.mart.loan.TApvHistory">
		<id column="AH_ID" property="ahId" jdbcType="INTEGER" />
		<result column="SL_ID" property="slId" jdbcType="INTEGER" />
		<result column="APP_STATUS" property="appStatus" jdbcType="VARCHAR" />
		<result column="OPINIONS" property="opinions" jdbcType="VARCHAR" />
		<result column="APP_DATE" property="appDate" jdbcType="TIMESTAMP" />
		<result column="REALLY_APP_USER_ID" property="reallyAppUserId"
			jdbcType="INTEGER" />
		<result column="APP_USER_IDS" property="appUserIds" jdbcType="VARCHAR" />
		<result column="APP_USER_NAMES" property="appUserNames"
			jdbcType="VARCHAR" />
		<result column="PROCS_ID" property="procsId" jdbcType="INTEGER" />
		<result column="NODE_ID" property="nodeId" jdbcType="INTEGER" />
		<result column="NODE_NAME" property="nodeName" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.eleme.domain.mart.loan.TApvHistoryVo" id="ResultMap" extends="BaseResultMap">
		<result column="IS_OPS" property="isOps"/>
	</resultMap>

	<sql id="Base_Column_List">
		t.AH_ID, t. SL_ID, t. APP_STATUS, t. OPINIONS, t. APP_DATE,
		t.REALLY_APP_USER_ID, t.APP_USER_IDS, t. APP_USER_NAMES,
		t.PROCS_ID, t. NODE_ID, t.NODE_NAME
	</sql>

	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from T_APV_HISTORY t
		where t.AH_ID = #{ahId}
	</select>

	<insert id="insert" parameterType="com.eleme.domain.mart.loan.TApvHistory">
		insert into T_APV_HISTORY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="slId != null">
				SL_ID,
			</if>
			<if test="appStatus != null">
				APP_STATUS,
			</if>
			<if test="opinions != null">
				OPINIONS,
			</if>
			<if test="appDate != null">
				APP_DATE,
			</if>
			<if test="reallyAppUserId != null">
				REALLY_APP_USER_ID,
			</if>
			<if test="appUserIds != null">
				APP_USER_IDS,
			</if>
			<if test="appUserNames != null">
				APP_USER_NAMES,
			</if>
			<if test="procsId != null">
				PROCS_ID,
			</if>
			<if test="nodeId != null">
				NODE_ID,
			</if>
			<if test="nodeName != null">
				NODE_NAME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="slId != null">
				#{slId},
			</if>
			<if test="appStatus != null">
				#{appStatus},
			</if>
			<if test="opinions != null">
				#{opinions},
			</if>
			<if test="appDate != null">
				#{appDate},
			</if>
			<if test="reallyAppUserId != null">
				#{reallyAppUserId},
			</if>
			<if test="appUserIds != null">
				#{appUserIds},
			</if>
			<if test="appUserNames != null">
				#{appUserNames},
			</if>
			<if test="procsId != null">
				#{procsId},
			</if>
			<if test="nodeId != null">
				#{nodeId},
			</if>
			<if test="nodeName != null">
				#{nodeName},
			</if>
		</trim>
	</insert>

	<update id="updateById" parameterType="com.eleme.domain.mart.loan.TApvHistory">
		update T_APV_HISTORY
		<set>
			<if test="slId != null">
				SL_ID = #{slId},
			</if>
			<if test="appStatus != null">
				APP_STATUS = #{appStatus},
			</if>
			<if test="opinions != null">
				OPINIONS = #{opinions},
			</if>
			<if test="appDate != null">
				APP_DATE = #{appDate},
			</if>
			<if test="reallyAppUserId != null">
				REALLY_APP_USER_ID = #{reallyAppUserId},
			</if>
			<if test="appUserIds != null">
				APP_USER_IDS = #{appUserIds},
			</if>
			<if test="appUserNames != null">
				APP_USER_NAMES = #{appUserNames},
			</if>
			<if test="procsId != null">
				PROCS_ID = #{procsId},
			</if>
			<if test="nodeId != null">
				NODE_ID = #{nodeId},
			</if>
			<if test="nodeName != null">
				NODE_NAME = #{nodeName},
			</if>
		</set>
		where AH_ID = #{ahId}
	</update>

	<!-- 根据借贷申请ID查询审批历史记录 -->
	<select id="selectBySlId" resultMap="ResultMap" parameterType="java.lang.Integer">
		select
			<include refid="Base_Column_List" />,IS_OPS
		from T_APV_HISTORY t inner join T_APV_FLOW_NODE tafn on t.NODE_ID = tafn.NODE_ID
		where t.SL_ID = #{slId}
	</select>

</mapper>