<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eleme.mapper.mart.martusers.MMartUsersMapper">
	<resultMap id="BaseResultMap" type="com.eleme.domain.mart.martusers.MMartUsers">
		<id column="USER_ID" property="userId" jdbcType="INTEGER" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="USER_PSWD" property="userPswd" jdbcType="VARCHAR" />
		<result column="USER_FLAG" property="userFlag" jdbcType="INTEGER" />
		<result column="USER_STATUS" property="userStatus" jdbcType="INTEGER" />
		<result column="LOGIN_METHOD" property="loginMethod" jdbcType="INTEGER" />
		<result column="CREATE_USER" property="createUser" jdbcType="INTEGER" />
		<result column="CREATE_USER_NAME" property="createUserName" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
		<result column="MOBILE_PHONE" property="mobilePhone" jdbcType="VARCHAR" />
		<result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
		<result column="FO_ID" property="foId" jdbcType="INTEGER" />
		<result column="USER_SEX" property="userSex" jdbcType="INTEGER" />
		<result column="USER_AGE" property="userAge" jdbcType="INTEGER" />
		<result column="USER_SID" property="userSid" jdbcType="VARCHAR" />
		<result column="USER_ADDR" property="userAddr" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.eleme.domain.mart.martusers.MMartUsersVo" id="UserResultMap" extends="BaseResultMap">
		<result column="FO_NAME" property="foName" />
	</resultMap>
	
	<sql id="Base_Column_List">
		t.USER_ID, t.USER_NAME, t.USER_PSWD, t.USER_FLAG, t.USER_STATUS,
		t.LOGIN_METHOD,
		t.CREATE_USER,
		t.CREATE_USER_NAME, t.CREATE_TIME, t.NICK_NAME,
		t.MOBILE_PHONE, t.USER_EMAIL, t.FO_ID, t.USER_SEX, t.USER_AGE, t.USER_SID, t.USER_ADDR
	</sql>
	
	<select id="selectById" resultMap="UserResultMap" parameterType="java.lang.Integer">
		select
			<include refid="Base_Column_List" />,
			mfo.FO_NAME
		from M_MART_USERS t INNER JOIN M_FINANCE_ORG mfo ON t.FO_ID = mfo.FO_ID
		where t.USER_ID = #{userId}
	</select>

	<insert id="insert" parameterType="com.eleme.domain.mart.martusers.MMartUsers">
		insert into M_MART_USERS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				USER_NAME,
			</if>
			<if test="userPswd != null">
				USER_PSWD,
			</if>
			<if test="userFlag != null">
				USER_FLAG,
			</if>
			<if test="userStatus != null">
				USER_STATUS,
			</if>
			<if test="loginMethod != null">
				LOGIN_METHOD,
			</if>
			<if test="createUser != null">
				CREATE_USER,
			</if>
			<if test="createUserName != null">
				CREATE_USER_NAME,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="nickName != null">
				NICK_NAME,
			</if>
			<if test="mobilePhone != null">
				MOBILE_PHONE,
			</if>
			<if test="userEmail != null">
				USER_EMAIL,
			</if>
			<if test="foId != null">
				FO_ID,
			</if>
			<if test="userSex != null">
				USER_SEX,
			</if>
			<if test="userAge != null">
				USER_AGE,
			</if>
			<if test="userSid != null">
				USER_SID,
			</if>
			<if test="userAddr != null">
				USER_ADDR,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				#{userName},
			</if>
			<if test="userPswd != null">
				#{userPswd},
			</if>
			<if test="userFlag != null">
				#{userFlag},
			</if>
			<if test="userStatus != null">
				#{userStatus},
			</if>
			<if test="loginMethod != null">
				#{loginMethod},
			</if>
			<if test="createUser != null">
				#{createUser},
			</if>
			<if test="createUserName != null">
				#{createUserName},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="nickName != null">
				#{nickName},
			</if>
			<if test="mobilePhone != null">
				#{mobilePhone},
			</if>
			<if test="userEmail != null">
				#{userEmail},
			</if>
			<if test="foId != null">
				#{foId},
			</if>
			<if test="userSex != null">
				#{userSex},
			</if>
			<if test="userAge != null">
				#{userAge},
			</if>
			<if test="userSid != null">
				#{userSid},
			</if>
			<if test="userAddr != null">
				#{userAddr},
			</if>
		</trim>
		<selectKey resultType="java.lang.Integer" keyProperty="userId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<update id="updateById" parameterType="com.eleme.domain.mart.martusers.MMartUsers">
		update M_MART_USERS
		<set>
			<if test="userName != null and userName != '' ">
				USER_NAME = #{userName},
			</if>
			<if test="userPswd != null and userPswd != '' ">
				USER_PSWD = #{userPswd},
			</if>
			<if test="userFlag != null">
				USER_FLAG = #{userFlag},
			</if>
			<if test="userStatus != null">
				USER_STATUS = #{userStatus},
			</if>
			<if test="loginMethod != null">
				LOGIN_METHOD = #{loginMethod},
			</if>
			<if test="createUser != null">
				CREATE_USER = #{createUser},
			</if>
			<if test="createUserName != null">
				CREATE_USER_NAME = #{createUserName},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime},
			</if>
			<if test="nickName != null">
				NICK_NAME = #{nickName},
			</if>
			<if test="mobilePhone != null">
				MOBILE_PHONE = #{mobilePhone},
			</if>
			<if test="userEmail != null">
				USER_EMAIL = #{userEmail},
			</if>
			<if test="foId != null">
				FO_ID = #{foId},
			</if>
			<if test="userSex != null">
				USER_SEX = #{userSex},
			</if>
			<if test="userAge != null">
				USER_AGE = #{userAge},
			</if>
			<if test="userSid != null">
				USER_SID = #{userSid},
			</if>
			<if test="userAddr != null">
				USER_ADDR = #{userAddr},
			</if>
		</set>
		where USER_ID = #{userId}
	</update>

	<select id="selectFinanceUserList" resultMap="UserResultMap" parameterType="com.eleme.domain.mart.martusers.FinanceUserQueryCnd">
		select
			<include refid="Base_Column_List" />,
			mfo.FO_NAME
		from M_MART_USERS t INNER JOIN M_FINANCE_ORG mfo ON t.FO_ID = mfo.FO_ID
		<where>
			<if test="userName != null and userName != ''">
				<![CDATA[ AND t.USER_NAME LIKE '%${userName}%' ]]>
			</if>
			<if test="foId != null">
				<![CDATA[ AND t.FO_ID = #{foId} ]]>
			</if>
			AND t.USER_STATUS in (1,2)
		</where>
		<if test="startRecord != null and pageSize != null">
			limit ${startRecord},${pageSize}
		</if>
	</select>
	
	<select id="selectFinanceUserListCount" resultType="java.lang.Integer" parameterType="com.eleme.domain.mart.martusers.FinanceUserQueryCnd">
		select count(*) from M_MART_USERS t INNER JOIN M_FINANCE_ORG mfo ON t.FO_ID = mfo.FO_ID
		<where>
			<if test="userName != null and userName != ''">
				<![CDATA[ AND t.USER_NAME LIKE '%${userName}%' ]]>
			</if>
			<if test="foId != null">
				<![CDATA[ AND t.FO_ID = #{foId} ]]>
			</if>
			AND t.USER_STATUS in (1,2)
		</where>
	</select>
	<!-- 验证是否重复，不包含本身  -->
	<select id="selectIsNotSelfCount" resultType="java.lang.Integer" parameterType="com.eleme.domain.mart.martusers.FinanceUserQueryCnd">
		select count(*) from M_MART_USERS t
		<where>
			<if test="userName != null and userName != ''">
				<![CDATA[ AND t.USER_NAME = #{userName} ]]>
			</if>
			AND t.USER_ID != #{userId}
		</where>
	</select>
	
	<select id="selectMartUsersByFoId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from M_MART_USERS t
		where t.FO_ID = #{foId}
		and t.USER_FLAG!=1
	</select>
</mapper>