<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 商户管理DAO -->
<mapper namespace="com.eleme.mapper.mart.seller.ISellerMapper">

	<!-- 查询所有商户集合 -->
	<select id="sellerList" resultType="Seller">
		SELECT 
		<choose>
			<when test="onlyNapos != null and onlyNapos == 1 ">
					NS.SELLER_ID,S.SELLER_NAME,MU.USER_NAME AS SELLER_ACCOUNT,
					NS.OID AS NAPOS_RES_OID,NS.CITY_ID,CT.CITY_NAME,NS.TYPE_CODE,
					MU.CREATED_AT,NS.KEEPER_NAME,NS.KEEPER_PHONE,NS.ADDRESS_TEXT,
					NS.DESCRIPTION,NS.IS_VALID
				FROM M_MART_USERS MU
				LEFT JOIN M_NAPOS_SELLERS NS
				ON MU.USER_ID = NS.USER_ID AND MU.USER_FLAG = 1
				LEFT JOIN M_SELLER S
				ON MU.USER_ID = S.USER_ID
				LEFT JOIN M_CITY_TREE CT ON CT.CITY_ID=NS.CITY_ID
				<where>
					MU.USER_FLAG = 1
					<if test="sellerName != null and sellerName != '' ">  
				        <![CDATA[ AND NS.NAME LIKE '%${sellerName}%' ]]>
					</if>
					<if test="keeperName != null and keeperName !='' ">
						<![CDATA[ AND NS.KEEPER_NAME LIKE '%${keeperName}%' ]]>
					</if>
					<if test="keeperPhone != null and keeperPhone !='' ">
						<![CDATA[ AND NS.KEEPER_PHONE LIKE '%${keeperPhone}%' ]]>
					</if>
					<if test="naposResOid != null and naposResOid != '' ">  
				        <![CDATA[ AND NS.OID LIKE '%${naposResOid}%' ]]>
					</if>
					<if test="sellerId != null and sellerId != '' ">  
				        <![CDATA[ AND NS.SELLER_ID LIKE '%${sellerId}%' ]]>
					</if>
					<if test="isImport != null and isImport != '' ">  
				        <![CDATA[ AND NS.IS_IMPORT = #{isImport} ]]>
					</if>
					<if test="batch != null and batch != '' ">  
				        <![CDATA[ AND NS.BATCH = #{batch} ]]>
					</if>
					<if test="isValid != null and isValid != '' ">  
				        <![CDATA[ AND NS.IS_VALID = #{isValid} ]]>
					</if>
				</where>
			</when>
			<otherwise>
				MS.SELLER_ID, MS.SELLER_NAME FROM M_SELLER MS 
				WHERE MS.SELLER_STATUS = 1
				<if test="sellerName != null and sellerName != '' ">  
           			<![CDATA[ AND MS.SELLER_NAME LIKE '%${sellerName}%' ]]>
				</if>
			</otherwise>	
		</choose>				
		limit ${startRecord},${pageSize}
	</select>
	
	<!-- 查询商户总数 -->
	<select id="sellerTotalNum" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM
		<choose>
			<when test="onlyNapos != null and onlyNapos == 1 ">
				M_MART_USERS MU
				LEFT JOIN M_NAPOS_SELLERS NS
				ON MU.USER_ID = NS.USER_ID AND MU.USER_FLAG = 1
				LEFT JOIN M_SELLER S
				ON MU.USER_ID = S.USER_ID
				<where>
					MU.USER_FLAG = 1
					<if test="sellerName != null and sellerName != '' ">  
				        <![CDATA[ AND NS.NAME LIKE '%${sellerName}%' ]]>
					</if>
					<if test="keeperName != null and keeperName !='' ">
						<![CDATA[ AND NS.KEEPER_NAME LIKE '%${keeperName}%' ]]>
					</if>
					<if test="keeperPhone != null and keeperPhone !='' ">
						<![CDATA[ AND NS.KEEPER_PHONE LIKE '%${keeperPhone}%' ]]>
					</if>
					<if test="naposResOid != null and naposResOid != '' ">  
				        <![CDATA[ AND NS.OID LIKE '%${naposResOid}%' ]]>
					</if>
					<if test="sellerId != null and sellerId != '' ">  
				        <![CDATA[ AND NS.SELLER_ID LIKE '%${sellerId}%' ]]>
					</if>
					<if test="isImport != null and isImport != '' ">  
				        <![CDATA[ AND NS.IS_IMPORT = #{isImport} ]]>
					</if>
					<if test="batch != null and batch != '' ">  
				        <![CDATA[ AND NS.BATCH = #{batch} ]]>
					</if>
					<if test="isValid != null and isValid != '' ">  
				        <![CDATA[ AND NS.IS_VALID = #{isValid} ]]>
					</if>
				</where>
			</when>
			<otherwise>
				M_SELLER MS WHERE MS.SELLER_STATUS = 1
				<if test="sellerName != null and sellerName != '' ">  
           			<![CDATA[ AND MS.SELLER_NAME LIKE '%${sellerName}%' ]]>
				</if>
			</otherwise>
		</choose>
	</select>

	<!-- 根据餐厅id（sqb中的exportSellerIdsStr字段提供）的字符串查找拥有人联系号码，再通过联系号码查询出其下的所有餐厅 -->
	<select id="selectSellersForExport" resultType="java.util.Map">
		SELECT
			<![CDATA[ ${exportColumns} ]]>
		FROM M_NAPOS_SELLERS 
		<where>
			<!--同一个Keeper_phone 的所有 -->
			KEEPER_PHONE IN
			(
				SELECT KEEPER_PHONE FROM M_NAPOS_SELLERS NS 
				<choose>
					<when test="exportExlType != null and exportExlType == 0">
						<where>
							<if test="sellerName != null and sellerName != '' ">  
						        <![CDATA[ NS.NAME LIKE '%${sellerName}%' ]]>
							</if>
							<if test="keeperName != null and keeperName !='' ">
								<![CDATA[ AND NS.KEEPER_NAME LIKE '%${keeperName}%' ]]>
							</if>
							<if test="keeperPhone != null and keeperPhone !='' ">
								<![CDATA[ AND NS.KEEPER_PHONE LIKE '%${keeperPhone}%' ]]>
							</if>
							<if test="naposResOid != null and naposResOid != '' ">  
						        <![CDATA[ AND NS.OID LIKE '%${naposResOid}%' ]]>
							</if>
							<if test="sellerId != null and sellerId != '' ">  
						        <![CDATA[ AND NS.SELLER_ID LIKE '%${sellerId}%' ]]>
							</if>
							<if test="isImport != null and isImport != '' ">  
						        <![CDATA[ AND NS.IS_IMPORT = #{isImport} ]]>
							</if>
							<if test="batch != null and batch != '' ">  
						        <![CDATA[ AND NS.BATCH = #{batch} ]]>
							</if>
							<if test="isValid != null and isValid != '' ">  
						        <![CDATA[ AND NS.IS_VALID = #{isValid} ]]>
							</if>
						</where>
					</when>
					<otherwise>
						<!-- 匹配napos商户表中的 OID -->
						<where>
							NS.OID IN
							<foreach item="exportSellerId" index="index" collection="exportSellerIds"
					             open="(" separator="," close=")">
					        	#{exportSellerId}
    						</foreach>
						</where>
					</otherwise>
				</choose>
		 	)
		</where>
	</select>

	<!-- 查询所有意向商户集合 -->
	<select id="purposeSellerList" resultType="PurposeSeller">
		SELECT ID,RES_NAME,MOBILE_PHONE AS
		MOBILE,RES_ADDR,NAPOS_RESID,RES_ID,BATCH,PARTNER FROM
		T_SDC_PURPOSESELLER NS
		<where>
			<if test="sellerName != null and sellerName != '' ">  
	        	<![CDATA[ AND NS.RES_NAME LIKE '%${sellerName}%' ]]>
			</if>
			<if test="batch != null and batch != '' ">  
	        	<![CDATA[ AND NS.BATCH LIKE '%${batch}%' ]]>
			</if>
			<if test="partner != null and partner != '' ">  
	         	<![CDATA[ AND NS.PARTNER LIKE '%${partner}%' ]]>
			</if>
		</where>
		limit ${startRecord},${pageSize}
	</select>

	<!-- 根据napos餐厅id查找napos商户集合 -->
	<select id="findMNaposSellerByNaposResId" resultType="MNaposSeller">
		SELECT * FROM M_NAPOS_SELLERS NS
		<where>
	         	<![CDATA[ NS.OID = #{naposResId} ]]>
		</where>
	</select>
	<!-- 查询意向商户总数 -->
	<select id="purposeSellerTotalNum" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM
		T_SDC_PURPOSESELLER NS
		<where>
			<if test="sellerName != null and sellerName != '' ">  
	        	<![CDATA[ AND NS.RES_NAME LIKE '%${sellerName}%' ]]>
			</if>
			<if test="batch != null and batch != '' ">  
	        	<![CDATA[ AND NS.BATCH LIKE '%${batch}%' ]]>
			</if>
			<if test="partner != null and partner != '' ">  
	         	<![CDATA[ AND NS.PARTNER LIKE '%${partner}%' ]]>
			</if>
		</where>
	</select>

	<!-- 批量插入导入的意向商户 -->
	<insert id="batchAddPS" parameterType="java.util.List">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into T_SDC_PURPOSESELLER
		(RES_NAME,MOBILE_PHONE,RES_ADDR,NAPOS_RESID,RES_ID,BATCH,PARTNER)
		values
		<foreach collection="list" item="purposeSeller" index="index"
			separator=",">
			(
			#{purposeSeller.res_name},#{purposeSeller.mobile},
			#{purposeSeller.res_addr},#{purposeSeller.napos_resid},
			#{purposeSeller.res_id,javaType=int,jdbcType=NUMERIC},
			#{purposeSeller.batch}, #{purposeSeller.partner}
			)
		</foreach>
	</insert>

	<!-- 保存napos商户数据. -->
	<insert id="saveSellerInfo" parameterType="MNaposSeller">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into M_NAPOS_SELLERS
		(
		`ID`,`OID`, `USER_ID`, `SELLER_ID`,
		`REGION_ID`, `NAME`, `IS_VALID`, `BUSY_LEVEL`, `TYPE_CODE`,
		`DESCRIPTION`, `ADDRESS_TEXT`,
		`NUM_RATING_1`, `NUM_RATING_2`,
		`NUM_RATING_3`, `NUM_RATING_4`, `NUM_RATING_5`,
		`CREATED_AT`, `PHONE`,
		`MOBILE`,
		`MIN_DELIVER_AMOUNT`, `IS_BOOKABLE`, `FLAVORS`,
		`DINE_ENABLED`, `DELIVER_SPENT`,
		`IS_TIME_ENSURE`, `CITY_ID`,
		`AVG_COMMENT_TIME`, `ONLINE_PAYMENT`, `INVOICE`, `INVOICE_MIN_AMOUNT`,
		`KEEPER_NAME`,
		`KEEPER_PHONE`,
		`RECENT_FOOD_POPULARITY`, `COME_FROM`,
		`RECENT_ORDER_NUM`, `CERTIFICATION_TYPE`,
		`CERTIFICATION_STATUS`,
		`METHOD_OF_PAYMENT`
		)
		values
		(
		#{id},#{oid},#{user_id},#{seller_id},#{region_id},#{name},#{is_valid},#{busy_level},#{type_code},#{description},#{address_text},
		#{num_rating_1},#{num_rating_2},#{num_rating_3},#{num_rating_4},#{num_rating_5},#{created_at},#{phone},#{mobile},
		#{min_deliver_amount},#{is_bookable},#{flavors},#{dine_enabled},#{deliver_spent},#{is_time_ensure},#{city_id},
		#{avg_comment_time},#{online_payment},#{invoice},#{invoice_min_amount},#{keeper_name},#{keeper_phone},
		#{recent_food_popularity},#{come_from},#{recent_order_num},#{certification_type},#{certification_status},#{method_of_payment}
		)
	</insert>

	<!-- 根据seller查找napos商户集合 -->
	<select id="findMNaposSellerBySellerId" resultType="MNaposSeller"
		parameterType="java.lang.Integer">
		SELECT * FROM M_NAPOS_SELLERS NS
		<where>
	         	<![CDATA[ NS.ID = #{id} ]]>
		</where>
	</select>

    <!-- 根据sellerId查询Seller -->
	<select id="findSellerBySellerId" resultType="Seller"
		parameterType="java.lang.Integer">
		SELECT 
		S.SELLER_ID,S.SELLER_NAME,NS.OID AS NAPOS_RES_OID,NS.KEEPER_NAME,NS.KEEPER_PHONE,
		NS.CREATED_AT,NS.ADDRESS_TEXT,NS.DESCRIPTION
		FROM M_SELLER S
		LEFT JOIN M_NAPOS_SELLERS NS ON S.SELLER_ID=NS.SELLER_ID
		WHERE S.SELLER_ID=#{sellerId}
	</select>


</mapper>
