<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleme.mapper.mart.file.IMartFileMapper">

	<resultMap type="com.eleme.bean.file.SysUploadFileBean" id="BaseResultMap">
		<id column="UF_ID" property="ufId" jdbcType="INTEGER" />
		<result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
		<result column="CONTEXT_PATH" property="contextPath" jdbcType="VARCHAR" />
		<result column="SOURCE_NAME" property="sourceName" jdbcType="VARCHAR" />
		<result column="FILE_EDIT_NAME" property="fileEditName"
			jdbcType="VARCHAR" />
		<result column="MIME_TYPE" property="mimeType" jdbcType="VARCHAR" />
		<result column="POSTFIX" property="postFix" jdbcType="VARCHAR" />
		<result column="FILE_SIZE" property="fileSize" jdbcType="INTEGER" />
		<result column="URL" property="url" jdbcType="VARCHAR" />
		<result column="USER_OF_UPLOAD" property="userOfUpload"
			jdbcType="VARCHAR" />
		<result column="IMAGE_RESOLUTION" property="imageResolution"
			jdbcType="VARCHAR" />
		<result column="CONTAIN_ID" property="containId" jdbcType="INTEGER" />
		<result column="CONTAIN_TYPE" property="containType" jdbcType="VARCHAR" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
		<result column="IS_OPS" property="isOps" jdbcType="INTEGER" />
	</resultMap>

	<select id="getUploadFileByContainId" resultMap="BaseResultMap">
		SELECT * FROM T_SYS_UPLOAD_FILE WHERE CONTAIN_ID = #{containId} AND CONTAIN_TYPE = #{containType} 
		ORDER BY CREATED_AT DESC
	</select>
	
	<select id="getUploadFileById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT * FROM T_SYS_UPLOAD_FILE WHERE UF_ID = #{id}
	</select>
	
	<select id="getUploadFileList" resultMap="BaseResultMap">
		SELECT * FROM T_SYS_UPLOAD_FILE
		 <where> 
		 	<if test="sourceName != null and sourceName != '' ">  
       			<![CDATA[ SOURCE_NAME LIKE '%${sourceName}%' ]]>
			</if>
			<if test="mimeType != null and mimeType != '' ">  
       			<![CDATA[ MIME_TYPE LIKE '%${mimeType}%' ]]>
			</if>
		 </where>
		ORDER BY CREATED_AT DESC LIMIT ${startRecord},${pageSize}
	</select>
	
	<insert id="insertInfoSysFileUpload" parameterType="com.eleme.bean.file.SysUploadFileBean" >
		<selectKey resultType="java.lang.Integer" keyProperty="ufId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO T_SYS_UPLOAD_FILE 
			(PROJECT_NAME,CONTEXT_PATH,SOURCE_NAME,FILE_EDIT_NAME,MIME_TYPE,
			 POSTFIX,FILE_SIZE,URL,CONTAIN_ID,CONTAIN_TYPE,IS_OPS
			) 
		VALUES 
			(#{projectName},#{contextPath},#{sourceName},#{fileEditName},#{mimeType},
			 #{postFix},#{fileSize},#{url},#{containId},#{containType},#{isOps}
			) 
	</insert>
	
	<select id="fileTotalNum" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_SYS_UPLOAD_FILE
		<where> 
		 	<if test="source_name != null and source_name != '' ">  
	      			<![CDATA[ SOURCE_NAME LIKE '%${source_name}%' ]]>
			</if>
			<if test="mine_type != null and mine_type != '' ">  
	      			<![CDATA[ MINE_TYPE LIKE '%${mine_type}%' ]]>
			</if>
	 	</where>
    </select>
    
    
</mapper>