<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 贷款审核统计DAO -->
<mapper namespace="com.eleme.mapper.mart.statistic.ILoanAuditMapper">

	<resultMap id="loanAudit" type="com.eleme.domain.mart.statistic.LoanAudit">
		<result column="APP_STATUS" property="appStatus" jdbcType="VARCHAR" />
		<result column="SUBMIT_TIME" property="submitTime" jdbcType="DATE" />
		<!-- <result column="ftime" property="submitTime" jdbcType="DATE" /> -->
		<result column="count" property="count" jdbcType="INTEGER" />
	</resultMap>
	<!-- 查询所有贷款审核统计集合 -->
	<select id="loanAuditList" resultMap="loanAudit">
		<!-- SELECT count(APP_STATUS) as number, date(SUBMIT_TIME) as ftime FROM 
			T_APP_SELLER_LOAN <if test="appStatus != null and appStatus != '' "> WHERE 
			APP_STATUS=#{appStatus} </if> WHERE APP_STATUS=#{} GROUP BY date(SUBMIT_TIME) 
			ORDER BY date(SUBMIT_TIME) DESC limit ${startRecord},${pageSize} -->
		select date(SUBMIT_TIME) as SUBMIT_TIME,
		if(count is null, 0, count) as count
		from
		(SELECT fp_id,date(SUBMIT_TIME) as stime,count(*) as count
		from T_APP_SELLER_LOAN
		where 1 = 1
		<if test=" appStatus != null and appStatus != '' ">
				<![CDATA[ and APP_STATUS=#{appStatus} ]]>
		</if>
		<if test=" fpId != null and fpId != '' ">
				<![CDATA[ and FP_ID = #{fpId} ]]>
		</if>
		group by date(SUBMIT_TIME)) intable
		right join T_APP_SELLER_LOAN on
		date(intable.stime) = date(SUBMIT_TIME)
		where <![CDATA[date(SUBMIT_TIME) <= date(#{submitTimeEnd}) ]]>
		<if test=" submitTimeFrom != null ">
			<![CDATA[ and date(SUBMIT_TIME) >= date(#{submitTimeFrom}) ]]>
		</if>
		group by date(SUBMIT_TIME)
		order by date(SUBMIT_TIME) desc
		<if test="limitFlg">
			limit ${startRecord},${pageSize}
		</if>
	</select>
	<!-- 查询贷款产品名称 -->
	<select id="productList" resultType="com.eleme.bean.statistic.ProductName">
		select FP_ID,FP_NAME
		from M_FINANCE_PRODUCT
		<if test="fpId != null">
			where FP_ID=#{fpId}
		</if>
	</select>
	
	<select id="selectTotalApplyInfo" resultMap="loanAudit">
		SELECT APP_STATUS
		FROM
		T_APP_SELLER_LOAN
	</select>
	<!-- 查询总数 -->
	<select id="LoanTotalNum" resultType="java.lang.Integer">
		select count(distinct
		date(SUBMIT_TIME))
		from T_APP_SELLER_LOAN
		where <![CDATA[date(SUBMIT_TIME) <= date(#{submitTimeEnd}) ]]>
		<![CDATA[ and date(SUBMIT_TIME) >= date(#{submitTimeFrom}) ]]>
	</select>
</mapper>